# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches
.pytest_cache/

# Environments / Secrets
.env
.venv
venv/
ENV/
env/

# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project generated reports
*.xlsx

# System files
Thumbs.db
db.lock
.DS_Store
